@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #171718;
}

button {
  font-family: initial;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html, body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
@supports (padding: max(0px)) {
  main { padding-bottom: max(0px, env(safe-area-inset-bottom)); }
}
#hero-wrapper, #main-wrapper, #footer-wrapper {
  contain: paint;
}