@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #171718;
}

button {
  font-family: initial;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html, body {
  height: 100%;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: 100%;
  background: #171718;
}

.h-viewport {
  height: 100svh;
  height: 100dvh;
}

.min-h-viewport {
  min-height: 100svh;
  min-height: 100dvh;
}