@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #171718;
}

button {
  font-family: initial;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html, body {
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}
#hero-wrapper, #main-wrapper, #footer-wrapper {
  contain: paint;
}